:focus:not(:focus-visible) {
  outline: none;
}

:root {
  --size--3: 0.666666rem;
  --size--2: 0.75rem;
  --size--1: 0.875rem;

  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;

  font-size: 200%;
  color: #D9FFFF;
  background-color: #00151C;
}
body {
  font-family: var(--font-sans);
}
main {
  padding-bottom: 4rem;
}
footer[role="contentinfo"] {
  text-align: center;
}

pre[class*=language-] {
  font-family: var(--font-mono) !important;
  font-size: var(--size--1);
  line-height: 1.45 !important;
}

/* Allow syntax highlighting to apply to SVG elements */
svg tspan.token {
  fill: currentColor;
}